body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9;
}

h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.carousel-item img {
  max-height: 300px;
  object-fit: cover;
}

footer {
  margin-top: 50px;
}